<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="index.html" class="brand-wrap">
            <!-- <img src="assets/imgs/theme/logo.svg" class="logo" alt="FemmeVogue"> -->
            <h3>therustdoor <span style="color: #4e7f5e;">ADMIN</span></h3>
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item active">
                <a class="menu-link" href="index.html"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-products-list.html"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
                <div class="submenu">
                    <a href="/admin/productlist">Product List</a>
                    
                    <a href="/admin/category">Categories</a>
                </div>
            </li>
            
            <li class="menu-item has-submenu">
                <a class="menu-link" href="/admin/userlist"> <i class="icon material-icons md-store"></i>
                    <span class="text">Users</span>
                </a>
                <div class="submenu">
                    <!-- <a href="page-sellers-cards.html">Sellers cards</a> -->
                    <a href="/admin/userlist">Users list</a>
                    
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i>
                    <span class="text">Add product</span>
                </a>
                <div class="submenu">
                    <a href="/admin/productlist">Add product</a>
                    
                </div>
            </li>
           
        </ul>
        <hr>

        <br>
        <br>
    </nav>
</aside>